@page "/project"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager NavigationManager

<PageTitle>Project Manager</PageTitle>

<head>
    <style>
        body {
            background-image: url('IMG_yellowy.JPG');
        }
    </style>
</head>

<h6 style="font-size:400%; font-family:'Trebuchet MS'; background-color:lightgoldenrodyellow;"> Project Manager </h6>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <EditForm Model="currentProject" OnSubmit="AddProject" Enhance>
                        <div class="hstack gap-2">
                            <label class="label-control">Project Name</label>
                            <InputText @bind-Value="currentProject.ProjectName" class="form-control"></InputText>
                            <label class="label-control">Due Date</label>
                            <InputDate @bind-Value="SelectedDueDate" class="form-control"></InputDate>
                            <label class="label-control">Progress</label>
                            <InputSelect @bind-Value="currentProject.Progress" class="form-control">
                                <option value="To Do">To Do</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Complete">Complete</option>
                            </InputSelect>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </EditForm>
                </div>
                <div class="card-body">
                    <QuickGrid Items="@ProjectsQueryable" Pagination="pagination">
                        <PropertyColumn Property="@(p => p.ProjectId)" Sortable="true" Align="Align.Center" Title="ID" />
                        <TemplateColumn Title="Project Name">
                            <button class="btn btn-link" @onclick="(() => RedirectToTaskDetails(context.ProjectId))">
                                @context.ProjectName
                            </button>
                        </TemplateColumn>
                        <PropertyColumn Property="@(p => p.DueDate)" Format="yyyy-MM-dd" Sortable="true" Title="Due Date" />
                        <PropertyColumn Title="Days Left" Property="@(p => ComputeDaysLeft(p.DueDate))" Sortable="true" Align="Align.Right" />
                        <PropertyColumn Property="@(p => p.Progress)" Sortable="true" Title="Progress" />
                        <TemplateColumn Title="Action">
                            <button @onclick="@(() => Edit(context))" class="btn btn-info">Edit</button>
                            <button @onclick="@(() => Delete(context))" class="btn btn-danger">Delete</button>
                        </TemplateColumn>
                    </QuickGrid>
                </div>
                <div class="card-footer"><Paginator State="@pagination" /></div>
            </div>
        </div>
    </div>
</div>

@code {
    // Pagination
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    IQueryable<ProjectModel> ProjectsQueryable = Enumerable.Empty<ProjectModel>().AsQueryable();

    [SupplyParameterFromForm]
    ProjectModel currentProject { get; set; } = new();
    DateOnly SelectedDueDate;
    static List<ProjectModel> ProjectsList = new();

    protected override void OnInitialized()
    {
        ConvertListToQueryable();
    }

    public class ProjectModel
    {
        public int ProjectId { get; set; }
        public string? ProjectName { get; set; }
        public DateOnly DueDate { get; set; }
        public string Progress { get; set; } = "To Do";
    }

    async Task AddProject()
    {
        currentProject.DueDate = SelectedDueDate;

        // Update existing project
        if (currentProject.ProjectId > 0)
        {
            var p = ProjectsList.FirstOrDefault(_ => _.ProjectId == currentProject.ProjectId);
            if (p is null) return;
            ProjectsList.Remove(p);
            ProjectsList.Add(currentProject);
            currentProject = new();
            GetDataAgain();
            return;
        }

        // Add new project
        if (string.IsNullOrWhiteSpace(currentProject.ProjectName)) return;
        currentProject.ProjectId = ProjectsList.Count + 1;
        ProjectsList.Add(currentProject);
        currentProject = new();
        GetDataAgain();
        return;
    }

    // Load data from List to Queryable container
    private void ConvertListToQueryable()
    {
        if (ProjectsList is null) return;
        foreach (var proj in ProjectsList.OrderBy(_ => _.ProjectId))
        {
            ProjectsQueryable = ProjectsQueryable.Concat(new[] { proj }.AsQueryable());
        }
        pagination.TotalItemCountChanged += (sender, eventArgs) => StateHasChanged();
    }

    // Clear container and reload
    void GetDataAgain()
    {
        ProjectsQueryable = Enumerable.Empty<ProjectModel>().AsQueryable();
        ConvertListToQueryable();
    }

    void Edit(ProjectModel incomingModel)
    {
        SelectedDueDate = incomingModel.DueDate;
        currentProject = incomingModel;
    }

    void Delete(ProjectModel incomingModel)
    {
        ProjectsList.Remove(ProjectsList.FirstOrDefault(_ => _.ProjectId == incomingModel.ProjectId));
        GetDataAgain();
    }

    // Compute Days Left
    int ComputeDaysLeft(DateOnly dueDate)
    {
        return (dueDate.ToDateTime(TimeOnly.MinValue) - DateTime.Now).Days;
    }

    // Redirect to task details page
    void RedirectToTaskDetails(int projectId)
    {
        NavigationManager.NavigateTo($"/taskdetails/{projectId}");
    }
}
