@page "/taskdetails/{projectId:int}"
@inject TaskService TaskService
@inject NavigationManager NavigationManager

<head>
    <style>
        body {
            background-image: url('IMG_bluey.JPG');
        }
    </style>
</head>

<h6 style="font-size:400%; font-family:'Trebuchet MS'; background-color:powderblue;"> Task Details </h6>

<p>Project ID: @projectId</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task Name</th>
            <th>Teams Assigned</th>
            <th>Progress</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>
                    @if (task.IsEditing)
                    {
                        <input type="text" class="form-control" @bind="@task.TaskName" />
                    }
                    else
                    {
                        <span>@task.TaskName</span>
                    }
                </td>
                <td>
                    @if (task.IsEditing)
                    {
                        <input type="text" class="form-control" @bind="@task.TeamsAssigned" />
                    }
                    else
                    {
                        <span>@task.TeamsAssigned</span>
                    }
                </td>
                <td>
                    @if (task.IsEditing)
                    {
                        <select class="form-control" @bind="@task.Progress">
                            <option value="To Do">To Do</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Complete">Complete</option>
                        </select>
                    }
                    else
                    {
                        <span>@task.Progress</span>
                    }
                </td>
                <td>
                    @if (task.IsEditing)
                    {
                        <button class="btn btn-success" @onclick="() => SaveTask(task)">Save</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" @onclick="() => EditTask(task)">Edit</button>
                    }
                    <button class="btn btn-danger" @onclick="() => DeleteTask(task.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="AddNewTask">Add New Task</button>
<button class="btn btn-primary" @onclick="GoBack">Back to Projects</button>

@code {
    [Parameter]
    public int projectId { get; set; }

    private List<TaskDetail> tasks;

    protected override void OnInitialized()
    {
        tasks = TaskService.GetTasks(projectId);
    }

    void GoBack()
    {
        NavigationManager.NavigateTo("/project");
    }

    void AddNewTask()
    {
        tasks.Add(new TaskDetail { Id = tasks.Count + 1, TaskName = "New Task", TeamsAssigned = "", Progress = "To Do", IsEditing = true });
    }

    void EditTask(TaskDetail task)
    {
        task.IsEditing = true;
    }

    void SaveTask(TaskDetail task)
    {
        task.IsEditing = false;
    }

    void DeleteTask(int id)
    {
        var taskToRemove = tasks.FirstOrDefault(t => t.Id == id);
        if (taskToRemove != null)
        {
            tasks.Remove(taskToRemove);
        }
    }
}
